[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bson = "*"
pymongo = "*"
flasgger = "*"
pytz = "*"
streamlit = "*"
watchdog = "*"
django-pagination = "*"
Flask = "*"
Flask-Cors = "*"
Flask-PyMongo = "*"
Paginator = "*"
Django = "*"
PyYAML = "==5.1"

[dev-packages]

[requires]
python_version = "3.9"
